<footer
  class="absolute bottom-0 flex w-full items-center justify-center bg-white p-4 shadow dark:bg-gray-800 md:p-4"
>
  <span class="text-sm text-gray-500 dark:text-gray-400"
    >Made by: <a
      href="https://github.com/jhcueva"
      target="_blank"
      class="hover:underline">jhcueva</a
    >
  </span>
</footer>
