---
import LoginGitHub from "../LoginGitHub";
import DarkModeToggle from "../DarkModeToggle";
---

<header class="relative p-2 sm:p-0">
  <section class="flex items-center justify-end gap-2 p-2 sm:gap-4 sm:p-8">
    <LoginGitHub client:visible />
    <DarkModeToggle client:visible />
  </section>

  <h1
    class="m-auto max-w-[22ch] py-6 text-center text-5xl font-semibold leading-tight text-[#160647] dark:text-white sm:mb-8 sm:py-12 md:text-6xl"
  >
    Time to say <span>‘goodbye’</span> to the blank posts
  </h1>
</header>
