---
import Layout from "../layouts/Layout.astro";
import TextArea from "../components/TextArea";
import ErrorMessage from "../components/ErrorMessage";
import SubmitButton from "../components/ButtonSubmit";
import Header from "../components/Header";
---

<Layout title="Welcome to Astro.">
  <main class="min-h-screen dark:bg-slate-800">
    <section class="container m-auto max-w-lg">
      <Header />
      <h1 class="my-6 text-center text-4xl font-semibold dark:text-white">
        Welcome to <span class="text-gradient">Hackathon</span> 🤖
      </h1>

      <ErrorMessage client:load />
      <TextArea client:visible />
      <SubmitButton client:visible />
    </section>
  </main>
</Layout>
