---
import Layout from '../layouts/Layout.astro';
import TextArea from '../components/TextArea'
import ErrorMessage from '../components/ErrorMessage';
import SubmitButton from '../components/ButtonSubmit';
---

<Layout title="Welcome to Astro.">
	<main class="container max-w-lg m-auto">
		<h1 class="font-semibold text-4xl text-center my-6">Welcome to <span class="text-gradient">Hackathon</span> 🤖</h1>

    <ErrorMessage client:load/>
    <TextArea client:visible/>
    <SubmitButton client:visible/>
	</main>
</Layout>
