---
import Layout from "../layouts/Layout.astro";
import TextArea from "../components/TextArea";
import ErrorMessage from "../components/ErrorMessage";
import SubmitButton from "../components/ButtonSubmit";
import Header from "../components/Header";
import SocialNetworkSelector from "../components/SocialNetworkSelector";
import SocialNetworkCard from "../components/SocialNetworkCard";
---

<Layout title="Welcome to Astro.">
  <main class="min-h-screen dark:bg-slate-900">
    <section class="container m-auto max-w-7xl">
      <Header />
      <h1 class="my-6 text-center text-5xl font-semibold dark:text-white">
        Say ‘goodbye’ to the blank page for good
      </h1>

      <section class="grid grid-cols-12">
        <section class="col-span-12 lg:col-span-6">
          <ErrorMessage client:load />
          <TextArea client:visible />
          <SubmitButton client:visible />
        </section>
        <section class="col-span-12 lg:col-span-6">
          <!-- <TwitterCard client:visible /> -->
          <SocialNetworkCard client:visible />
          <SocialNetworkSelector client:visible />
        </section>
      </section>
    </section>
  </main>
</Layout>
